@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Zhivko Jokes Aplication</h1>
    <p>The foremost authority for good humor that you will find anywhere on your local mashine.</p>
</div>
